@import 'core/settings';

body {
  display: flex;
  padding: 30px;
}

.result__serie{
  background: rgb(174, 167, 167);
  color: pink;
}

.fav__serie{
  background: pink;
  color: rgb(174, 167, 167);
}
