@import 'core/settings';

$bluewhite: #F0FFF0;
$blue: #ADD8E6;
$purple: #6A5ACD;
$rubik: 'Rubik', sans-serif;

body {
  font-family: $rubik;
  background: $bluewhite;
  box-sizing: border-box;
}

.title {
  width: 100vw;
  text-align: center;
  font-size: 42px;
  padding-top:30px;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 35px;
  background: $bluewhite;
  @media all and(min-width: 768px){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}

.input {
  font-size: 18px;
  font-family: $rubik;
  border: none;
  border-bottom: 2px solid black;
  background: $bluewhite;
}

.btn {
  font-family: $rubik;
  height: 30px;
  padding: 2px;
  width: 70px;
  font-size: 16px;
  background: $purple;
  color: white;
}

.my__series{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.my__image {
  width: 80px;
  @media all and (min-width:768px){
    width: 100px;
  }
}
.results{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  @media all and(min-width: 768px){
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  }
}

  .result__serie{
    background: $blue;
    color: $purple;
    text-align: center;
    font-family: $rubik;
    font-size: 18px;
    margin: 10px;
    .fav__serie {
      background:$purple;
      color: $blue;
    }
  }

.fav__serie{
  background:$purple;
  color: $blue;
  list-style: none;
  justify-content: center;
  text-align: center;
  font-family: $rubik;
  font-size: 18px;
  padding: 10px;
}

