<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Buscador de series</title>
  <link rel="icon" href="tv_icon.png"/>
  <link rel="stylesheet" href="assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body>
  <h1 class="title">Buscador de series</h1>
  <div class="page">
    <div class="search">
      <input class="input" placeholder="Título"> 
      <button class="btn">Buscar</button>
      <h2 class="my__series-title hidden">Mis series favoritas</h2>
      <div class="my__series"></div>
      <button class="btn__delete hidden">Borrar todo</button>
    </div>

    <div>
      <ol class="results"></ol>
    </div>
  </div>
  <script src="assets/js/main.js"></script>
</body>
</html>